table {min-width: 100%;
    
    border-radius:  10px 10px 0 0;
    border-collapse: collapse;
    margin-top: 5px;
    overflow: hidden;

    th{
      text-align: center;
    }

td{
  width: 300px;
  vertical-align: middle;

}

    p{
      font-size: 15px;
      text-align: center;
     margin: auto 0;     
     font-weight: 600;
    }

   button{
    vertical-align: middle;
    width: 100px;
   }
  
   
}



.custom-table {
    border: 3px solid #6c757d;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    border: 3px solid #6c757d;
    border-collapse: collapse;
  }

.league_button {
 
  border: #6c757d solid 1px;
  margin: 1px;
  width: 125px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  height: 30px;
  overflow: hidden;


 

}

.league_button_selected {

  background-color: rgb(108, 194, 165);

}



.league_button:hover{
  background-color: rgb(108, 194, 165);
}

.leagues_input {
  border-radius: 10px;
  margin: 20px;
  
}



.form-submit {
  border-radius: 5px;
  background-color: rgb(121, 144, 211);
  margin-bottom: 5px;
  
}





.team-table-button{
  width: 110px;

}



  .test {
max-width: 1000px;
margin: 0 auto;
  
}