.navbar_container {
    width: 100%;
    margin: 5px auto;
    height: 50px;
    display: flex;
    border-radius: 5px;
    align-items: center;

    
     ul{ 
       margin-top: 10px;
        display: flex;
        list-style: none;
        margin-left: auto;
        margin-right: 0;
        align-items: center; 

        li{
            margin-left: 20px;
            margin-right: 20px;
            a{
                text-decoration: none;
                // color: black;
                font-size: 20px;
                &:hover{
                    color: red;
                }

                
            }

          
        }
     }
}

.active_link {
    color: black;
    }